body {
    background-color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
}
header {
    height: 100px;
    background-color: white;
    
}
footer {
    background-color:white;
    height: 100px;
}
main {
    background-color: white;
    height: 800px;
}
h1{

}
   